/* CSS declarations go here */
body{
	margin:0 auto;
	max-width:800px;
}
p{
	margin-top:0px;
}
#map{
	height:400px;
	width:600px;
	margin:0 auto;
}
#results{
	border:1px solid #333;
	display:flex;
	width:600px;
	margin:0 auto;
}
#results div{
	margin:auto;
}
#dist1, #dist2{
	font-weight: bold;
}
#calculate{
	margin:10px auto;
	display:block;
}
#reset{
	display:block;
	margin: 10px auto;
}